body {
    font: small-caps 0pt Arial;
    position: fixed;
    top: 0; left: 0;
    bottom: 0; right: 0;
    background: #012;
    text-align: center;
    white-space: nowrap;
}
.aligner, .alignee {
    display: inline-block;
    vertical-align: middle;
}
.aligner {
    width: 0;
    height: 100%;
}
.alignee {
    text-align: left;
}
dd {
    margin-left: 0;
}
#main dt {
    font-size: 20pt;
    color: #ABC;
}
#main input {
    font-size: 12pt;
    border: 0;
    border-radius: 5px;
    padding: 6px;
    background: #0A1A2A;
    color: #AAA;
    width: 300px;
}
#main input:focus { 
    outline: none;
}
#results {
    transition: 5s max-height;
    overflow: hidden;
}
#results.available {
    max-height: 999px;
}
.recipe {
    margin: 6px;
    max-width: 300px;
    white-space: normal;
}
.recipe dt {
    font-size: 14pt;
    color: #468;
}
.recipe dd {
    position: relative;
    top: -5px;
}
.recipe .material {
    display: inline-block;
    border-bottom: 2px solid #246;
    margin: 2px;
    padding: 4px;
    text-align: center;
    white-space: nowrap;
}
.recipe .material .name {
    font: 10pt monospace;
    color: #666;
}
